// los dx son divs xd

.d1{
    color: #1c1e21;
direction: ltr;
line-height: 1.34;
font-size: 12px;
font-family: inherit;
}

.d2{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    background: #f0f2f5;
    min-width: 500px;
    padding-bottom: 112px;
    padding-top: 72px;
    font-family: inherit;
}

.d3{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    padding: 20px 0;
    position: relative;
    height: 496px;
    // margin: 0 40px;
    width: auto;
    font-family: inherit;

    // agregadas por mi xd
    width: 980px;
    margin: 0 auto;
}

.d4{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 32px;
    width: 400px;
    font-family: inherit;

    // yo
    margin: 1em;
}

.d5{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    font-family: inherit;
    padding: 112px 0 16px;
}

.img1{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    font-family: inherit;
    border: 0;
    height: 106px;
    margin: -28px;
}

.h2-1{
    direction: ltr;
    margin: 0;
    display: inline-block;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    color: #1c1e21;
    padding: 0 0 20px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.d6{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    font-family: inherit;
    float: right;
    
    // yo
    margin: 1em;
}

.d7{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    height: 456px;
    width: 396px;
    font-family: inherit;
}

.d8{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    text-align: center;
    padding-bottom: 24px;
    padding-top: 10px;
    font-family: inherit;
}

.f1{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    text-align: center;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

.d9{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: 6px 0;
    font-size: 17px;
    width: 364px;
    font-family: inherit;
}

.i1{
    direction: ltr;
    margin: 0;
    background: #FFFFFF url(/rsrc.php/v3/yO/r/YQNfPR9MJfx.png) repeat-x;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    font-family: inherit;
}

.d10{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    text-align: center;
    padding-top: 6px;
    font-family: inherit;
}

.b1{
    direction: ltr;
    margin: 0;
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    font-family: inherit;
}

.d11{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    text-align: center;
    margin-top: 16px;
    font-family: inherit;
}

.a1{
    direction: ltr;
    line-height: 1.34;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
}

.d12{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    font-family: inherit;
}

.d13{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    text-align: center;
    padding-top: 6px;
    font-family: inherit;
}

.a2{
    direction: ltr;
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    color: #fff;
    background-color: #42b72a;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    font-family: inherit;
}

.d14{
    direction: ltr;
    line-height: 1.34;
    margin-top: 28px;
    text-align: center;
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
}

.a3{
    direction: ltr;
    line-height: 1.34;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

// los ex son los contenedores externos que ignoré en un comienzo xd
.ex1{
    color: #1c1e21;
direction: ltr;
line-height: 1.34;
font-size: 12px;
min-height: 640px;
zoom: 1;
margin: 0;
outline: none;
padding: 0;
width: auto;
font-family: inherit;
}

.ex2{
    color: #1c1e21;
direction: ltr;
line-height: 1.34;
font-size: 12px;
margin: 0 auto;
position: relative;
zoom: 1;
font-family: inherit;
}

.ex3{
    color: #1c1e21;
direction: ltr;
line-height: 1.34;
font-size: 12px;
overflow: initial;
font-family: inherit;
}

.ex-body{
    background: #fff;
color: #1c1e21;
direction: ltr;
line-height: 1.34;
margin: 0;
padding: 0;
unicode-bidi: embed;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
// overflow-y: scroll;
}

// footer
.fo-d1{
    color: #1c1e21;
direction: ltr;
line-height: 1.34;
font-size: 12px;
font-family: inherit;
}

.fo-d2{
    color: #1c1e21;
direction: ltr;
line-height: 1.34;
font-size: 12px;
padding-top: 20px;
font-family: inherit;
}

.fo-d3{
    direction: ltr;
line-height: 1.34;
font-size: 12px;
color: #737373;
margin: 0 auto;
width: 980px;
font-family: inherit;
}

.ul1{
    direction: ltr;
line-height: 1.34;
font-size: 12px;
color: #737373;
font-family: inherit;
list-style-type: none;
margin: 0;
padding: 0;
padding-top: 8px;
align-items: center;
display: flex;
flex-wrap: wrap;
}

.li1{
    direction: ltr;
line-height: 1.34;
font-size: 12px;
color: #737373;
font-family: inherit;
list-style-type: none;
border-width: 0 0 0 1px;
display: inline-block;
vertical-align: top;
padding-left: 10px;
padding-right: 0;
}

.li1a{
    line-height: 1.34;
font-size: 12px;
list-style-type: none;
direction: ltr;
unicode-bidi: isolate;
cursor: pointer;
color: #8a8d91;
text-decoration: none;
white-space: nowrap;
font-family: inherit;
margin-right: 0;
}

.lib1{
    direction: ltr;
list-style-type: none;
border: 1px solid;
border-radius: 2px;
box-sizing: content-box;
font-size: 12px;
-webkit-font-smoothing: antialiased;
font-weight: bold;
justify-content: center;
padding: 0 8px;
position: relative;
text-align: center;
text-shadow: none;
vertical-align: middle;
transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
background-color: #f5f6f7;
border-color: #ccd0d5;
height: 18px;
line-height: 18px;
cursor: pointer;
display: inline-block;
color: #8a8d91;
text-decoration: none;
white-space: nowrap;
font-family: inherit;
margin-right: 0;
}

.fo-d4{
    direction: ltr;
line-height: 1.34;
color: #737373;
border-bottom: 1px solid #dddfe2;
font-size: 1px;
height: 8px;
margin-bottom: 8px;
font-family: inherit;
}

.fo-d5{
    direction: ltr;
line-height: 1.34;
font-size: 12px;
color: #737373;
font-family: inherit;
}

.ul2{
    direction: ltr;
    font-size: 12px;
    color: #737373;
    font-family: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    margin-left: -20px;

    li{
        direction: ltr;
        font-size: 12px;
        color: #737373;
        font-family: inherit;
        list-style-type: none;
        line-height: 1.6;
        display: inline-block;
        vertical-align: top;
        border-width: 0;
        padding-left: 20px;
        padding-right: 0;
    }

    a{
        direction: ltr;
        font-size: 12px;
        list-style-type: none;
        line-height: 1.6;
        cursor: pointer;
        text-decoration: none;
        white-space: nowrap;
        font-family: inherit;
        color: #8a8d91;
        margin-right: 0;
    }
}

.fo-d6{
    direction: ltr;
    line-height: 1.34;
    color: #737373;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;
    font-family: inherit;

    div{
        direction: ltr;
        line-height: 1.34;
        color: #737373;
        font-size: 11px;
        font-family: inherit;
    }

    span{
        direction: ltr;
        line-height: 1.34;
        color: #737373;
        font-size: 11px;
        font-family: inherit;
    }
}

.email-error{
    direction: ltr;
    color: #f02849;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-top: 2px;
    text-align: left;
    padding: 0px 20px;
    a{
        direction: ltr;
        font-size: 13px;
        line-height: 16px;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
        color: #f02849;
        font-weight: bold;
        font-family: inherit;
    }
}

.password-error{
    direction: ltr;
    color: #f02849;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-top: 2px;
    text-align: left;
    padding: 0px 20px;

    a{
        direction: ltr;
        font-size: 13px;
        line-height: 16px;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
        color: #f02849;
        font-weight: bold;
        font-family: inherit;
    }
}

@media (max-width: 900px) {
    .ex-body{
        background: #fff;
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        margin: 0;
        padding: 0;
        unicode-bidi: embed;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        overflow-y: scroll;
    }

    .ex3{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        overflow: initial;
        font-family: inherit;
    }

    .ex2{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        margin: 0 auto;
        position: relative;
        zoom: 1;
        font-family: inherit;
    }

    .ex1{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        min-height: 640px;
        zoom: 1;
        margin: 0;
        outline: none;
        padding: 0;
        width: auto;
        font-family: inherit;
    }

    .d1{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        font-family: inherit;
    }

    .d2{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        background: #f0f2f5;
        min-width: 500px;
        padding-bottom: 164px;
        padding-top: 20px;
        font-family: inherit;
    }

    .d3{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        padding: 20px 0;
        position: relative;
        height: 496px;
        margin: 0 40px;
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: inherit;
    }

    .d4{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        width: 400px;
        margin: 0 auto;
        padding: 0;
        font-family: inherit;
    }

    .d5{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        text-align: center;
        font-family: inherit;
        padding: 0 0 20px 0;
    }

    .img1{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        text-align: center;
        font-family: inherit;
        border: 0;
        height: 106px;
        margin: -28px;
    }

    .h2-1{
        direction: ltr;
        text-align: center;
        margin: 0;
        display: inline-block;
        letter-spacing: normal;
        text-rendering: optimizelegibility;
        color: #1c1e21;
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        width: auto;
        padding: 0;
    }

    .d6{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        float: none;
        margin: 0 auto;
        font-family: inherit;
    }

    .d7{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        text-align: center;
        height: 456px;
        width: 396px;
        font-family: inherit;
    }

    .d8{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        align-items: center;
        background-color: #fff;
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        margin: 40px 0 0;
        padding: 20px 0 28px;
        width: 396px;
        text-align: center;
        padding-bottom: 24px;
        padding-top: 10px;
        font-family: inherit;
    }

    .fo-d1{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        font-family: inherit;
    }

    .fo-d2{
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        padding-top: 20px;
        font-family: inherit;
    }

    .fo-d3{
        direction: ltr;
        line-height: 1.34;
        font-size: 12px;
        color: #737373;
        font-family: inherit;
        margin: 0 40px;
        width: auto;
    }






  }
