<div class="ex-body">
  <div class="ex3">
    <div class="ex2">
      <div class="ex1">

        <div class="d1">
          <div class="d2">
            <div class="d3">

              <!-- header -->
              <div class="d4">
                <div class="d5">
                  <img class="img1" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook"></div>
                <h2 class="h2-1">Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu vida.</h2>
              </div>
        
              <!-- login -->
              <div class="d6">
                <div class="d7">
                  <div class="d8">
                    <form class="f1" data-testid="royal_login_form"
                      action="/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjA2OTYzNjA3LCJjYWxsc2l0ZV9pZCI6MzgxMjI5MDc5NTc1OTQ2fQ%3D%3D"
                      method="post" onsubmit="" id="u_0_a">
                      <input type="hidden" name="jazoest" value="2932" autocomplete="off">
                      <input type="hidden" name="lsd" value="AVrUrZBSZ2Y" autocomplete="off">
        
                      <!-- inputs -->
                      <div>
                        <!-- email -->
                        <div class="d9">
                          <input type="text" class="i1" name="email" id="email"
                            data-testid="royal_email" placeholder="Correo electrónico o número de teléfono" autofocus="1"
                            aria-label="Correo electrónico o número de teléfono">
                        </div>
        
                        <!-- password -->
                        <div class="d9">
                          <input type="password" class="i1" name="pass" id="pass"
                            data-testid="royal_pass" placeholder="Contraseña" aria-label="Contraseña">
                        </div>
                      </div>
                      
                      <input type="hidden" autocomplete="off" name="login_source" value="comet_headerless_login">
                      <input type="hidden" autocomplete="off" name="next" value="">
        
                      <!-- boton iniciar sesion -->
                      <div class="d10">
                        <button value="1" class="b1" name="login"
                          data-testid="royal_login_button" type="submit" id="u_0_b">Iniciar sesión</button>
                      </div>
        
                      <!-- olvidaste tu contraseña? -->
                      <div class="d11">
                        <a class="a1" href="https://www.facebook.com/recover/initiate/?ars=facebook_login&amp;privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjA2OTYzNjA3LCJjYWxsc2l0ZV9pZCI6MzgxMjI5MDc5NTc1OTQ2fQ%3D%3D">¿Olvidaste
                          tu contraseña?</a>
                      </div>
        
                      <div class="d12"></div>
        
                      <!-- boton crear cuenta -->
                      <div class="d13">
                        <a role="button" class="a2" href="#"
                          ajaxify="/reg/spotlight/" id="u_0_2" data-testid="open-registration-form-button" rel="async">Crear
                          cuenta nueva</a>
                      </div>
        
                    </form>
                  </div>
                  <div id="reg_pages_msg" class="d14">
                    <a href="/pages/create/?ref_type=registration_form" class="a3">Crea
                      una página</a> para un personaje público, un grupo de música o un negocio.
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ::after -->
      </div>
      <!-- footer -->

      <div class="fo-d1">
        <div class="fo-d2">
          <div class="fo-d3" id="pageFooter" data-referrer="page_footer" data-testid="page_footer">
            <ul class="ul1" data-nocookies="1">
              <li>Español</li>
              <li class="li1"><a class="li1a" dir="ltr" href="https://www.facebook.com/"
                  onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;en_US&quot;, &quot;es_LA&quot;, &quot;https:\/\/www.facebook.com\/&quot;, &quot;www_list_selector&quot;, 0); return false;"
                  title="English (US)">English (US)</a></li>
              <li class="li1"><a class="li1a" dir="ltr" href="https://fr-fr.facebook.com/"
                  onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;fr_FR&quot;, &quot;es_LA&quot;, &quot;https:\/\/fr-fr.facebook.com\/&quot;, &quot;www_list_selector&quot;, 1); return false;"
                  title="French (France)">Français (France)</a></li>
              <li class="li1"><a class="li1a" dir="ltr" href="https://pt-br.facebook.com/"
                  onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;pt_BR&quot;, &quot;es_LA&quot;, &quot;https:\/\/pt-br.facebook.com\/&quot;, &quot;www_list_selector&quot;, 2); return false;"
                  title="Portuguese (Brazil)">Português (Brasil)</a></li>
              <li class="li1"><a class="li1a" dir="ltr" href="https://it-it.facebook.com/"
                  onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;it_IT&quot;, &quot;es_LA&quot;, &quot;https:\/\/it-it.facebook.com\/&quot;, &quot;www_list_selector&quot;, 3); return false;"
                  title="Italian">Italiano</a></li>
              <li class="li1"><a class="li1a" dir="ltr" href="https://de-de.facebook.com/"
                  onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;de_DE&quot;, &quot;es_LA&quot;, &quot;https:\/\/de-de.facebook.com\/&quot;, &quot;www_list_selector&quot;, 4); return false;"
                  title="German">Deutsch</a></li>
              <li class="li1"><a class="li1a" dir="ltr" href="https://sv-se.facebook.com/"
                  onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;sv_SE&quot;, &quot;es_LA&quot;, &quot;https:\/\/sv-se.facebook.com\/&quot;, &quot;www_list_selector&quot;, 5); return false;"
                  title="Swedish">Svenska</a></li>
              <li class="li1"><a class="li1a" dir="ltr" href="https://zh-cn.facebook.com/"
                  onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;zh_CN&quot;, &quot;es_LA&quot;, &quot;https:\/\/zh-cn.facebook.com\/&quot;, &quot;www_list_selector&quot;, 6); return false;"
                  title="Simplified Chinese (China)">中文(简体)</a></li>
              <li class="li1"><a class="li1a" dir="rtl" href="https://ar-ar.facebook.com/"
                  onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;ar_AR&quot;, &quot;es_LA&quot;, &quot;https:\/\/ar-ar.facebook.com\/&quot;, &quot;www_list_selector&quot;, 7); return false;"
                  title="Arabic">العربية</a></li>
              <li class="li1"><a class="li1a" dir="ltr" href="https://hi-in.facebook.com/"
                  onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;hi_IN&quot;, &quot;es_LA&quot;, &quot;https:\/\/hi-in.facebook.com\/&quot;, &quot;www_list_selector&quot;, 8); return false;"
                  title="Hindi">हिन्दी</a></li>
              <li class="li1"><a class="li1a" dir="ltr" href="https://ja-jp.facebook.com/"
                  onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;ja_JP&quot;, &quot;es_LA&quot;, &quot;https:\/\/ja-jp.facebook.com\/&quot;, &quot;www_list_selector&quot;, 9); return false;"
                  title="Japanese">日本語</a></li>
              <!-- <li class="li1"><a role="button" class="lib1" rel="dialog"
                  ajaxify="/settings/language/language/?uri=https%3A%2F%2Fja-jp.facebook.com%2F&amp;source=www_list_selector_more"
                  href="#" title="Mostrar más idiomas"><i class="img sp_RSI3a6Vn3FV sx_7e4645"></i></a></li> -->
            </ul>
            <div class="fo-d4"></div>
            <div class="fo-d5" id="pageFooterChildren" role="contentinfo" aria-label="Enlaces a sitios de Facebook">
              <ul class="ul2">
                <li><a href="/r.php" title="Regístrate en Facebook">Registrarte</a></li>
                <li><a href="/login/" title="Iniciar sesión en Facebook">Iniciar sesión</a></li>
                <li><a href="https://messenger.com/" title="Descubre Messenger.">Messenger</a></li>
                <li><a href="/lite/" title="Facebook Lite para Android.">Facebook Lite</a></li>
                <li><a href="https://www.facebook.com/watch/" title="Explora nuestros videos de Watch."> Watch </a></li>
                <li><a href="/directory/people/" title="Explora nuestro directorio de personas.">Personas</a></li>
                <li><a href="/directory/pages/" title="Explora nuestro directorio de páginas.">Páginas</a></li>
                <li><a href="/pages/category/">Categorías de páginas</a></li>
                <li><a href="/places/" title="Descubre lugares populares en Facebook.">Lugares</a></li>
                <li><a href="/games/" title="Descubre juegos en Facebook.">Juegos</a></li>
                <li><a href="/directory/places/" title="Explora nuestro directorio de lugares.">Ubicaciones</a></li>
                <li><a href="/marketplace/" title="Compra y vende artículos en Facebook Marketplace.">Marketplace</a></li>
                <li><a href="https://pay.facebook.com/" target="_blank" title="Más información sobre Facebook Pay">Facebook
                    Pay</a></li>
                <li><a href="/directory/groups/" title="Explora nuestro directorio de grupos.">Grupos</a></li>
                <li><a href="/jobs/" title="Postúlate para empleos y contrata personas en Facebook.">Empleos</a></li>
                <li><a href="https://www.oculus.com/" target="_blank" title="Más información sobre Oculus">Oculus</a></li>
                <li><a href="https://portal.facebook.com/" target="_blank"
                    title="Obtén más información sobre Portal from Facebook">Portal</a></li>
                <li><a href="https://www.instagram.com/" title="Descubre Instagram.">Instagram</a></li>
                <li><a href="/local/lists/245019872666104/" title="Explora nuestro directorio de listas locales.">Local</a>
                </li>
                <li><a href="/fundraisers/" title="Haz una donación a causas que te importan.">Recaudaciones de fondos</a>
                </li>
                <li><a href="/biz/directory/" title="Explora nuestro directorio de servicios de Facebook.">Servicios</a></li>
                <li><a href="/votinginformationcenter/?entry_point=c2l0ZQ%3D%3D"
                    title="Mira el Centro de información de votación.">Centro de información de votación</a></li>
                <li><a href="/facebook" accesskey="8"
                    title="Lee nuestro blog, descubre el centro de recursos y encuentra ofertas de trabajo.">Información</a>
                </li>
                <li><a href="/ad_campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;extra_1=auto"
                    title="Anúnciate en Facebook.">Crear anuncio</a></li>
                <li><a href="/pages/create/?ref_type=site_footer" title="Crea una página.">Crear página</a></li>
                <li><a href="https://developers.facebook.com/?ref=pf"
                    title="Desarrolla en nuestra plataforma.">Desarrolladores</a></li>
                <li><a href="/careers/?ref=pf" title="Únete a nuestra extraordinaria empresa.">Empleo</a></li>
                <li><a data-nocookies="1" href="/privacy/explanation"
                    title="Infórmate acerca de tu privacidad y Facebook.">Privacidad</a></li>
                <li><a href="/policies/cookies/" title="Infórmate acerca de las cookies y Facebook."
                    data-nocookies="1">Cookies</a></li>
                <li><a class="_41ug" data-nocookies="1" href="https://www.facebook.com/help/568137493302217"
                    title="Conoce las opciones de anuncios.">Opciones de anuncios<i
                      class="img sp_nfb3tKmE0ke sx_3963af"></i></a></li>
                <li><a data-nocookies="1" href="/policies?ref=pf" accesskey="9"
                    title="Consulta nuestras políticas y condiciones.">Condiciones</a></li>
                <li><a href="/help/?ref=pf" accesskey="0" title="Visita nuestro servicio de ayuda.">Ayuda</a></li>
                <li><a accesskey="6" class="accessible_elem" href="/settings"
                    title="Ve y edita tu configuración de Facebook.">Configuración</a></li>
                <li><a accesskey="7" class="accessible_elem" href="/allactivity?privacy_source=activity_log_top_menu"
                    title="Ver tu registro de actividad">Registro de actividad</a></li>
              </ul>
            </div>
            <div class="fo-d6">
              <div><span> Facebook © 2020</span></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
